#######################################
# expose metrics in prometheus format #
#######################################

<source>
  @type prometheus
  bind {{ansible_default_ipv4.address}}
  port 24231
  metrics_path /metrics
</source>
<source>
  @type prometheus_output_monitor
  interval 10
  <labels>
    hostname ${hostname}
  </labels>
</source>