<match example.gelf.**>
    @type copy

    <store>
        @type opensearch
        hosts {{opensearch_cluster}}
        port 9200
        scheme https
        ssl_verify false
        user "{{ opensearch_admin_user }}"
        password "{{ opensearch_admin_password }}"

        include_timestamp true
        index_name {{ opensearch_gelf_index }}-alias

        <buffer>
            @type file
            path /var/log/td-agent/buffer/fluentd/default-gelf
            total_limit_size 30GB
            chunk_limit_records 1000
            flush_at_shutdown false
            flush_interval 30
            flush_thread_count 4
            retry_timeout 72h
        </buffer>
    </store>
    
    <store>
    ### Prometheus
    @type prometheus
        <metric>
        name fluentd_output_status_num_records_total
        type counter
        desc The total number of outgoing records
        <labels>
            tag ${tag}
            hostname ${hostname}
        </labels>
        </metric>
    </store>

</match>